@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

:root{
    --clr-primary-200:#061427;
    --clr-primary-100:#FFFFFF;

    --clr-accents-200:#00FFF5;
    --clr-accents-100:#FFFFFF;


    /* font-family */
    --ff-primary:'Nunito', sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    /* font-weight */

    --fw-regular:400;
    --fw-medium:500;
    --fw-SemiBold:600;
    --fw-bold:700;
    --fw-extra-bold:800;

    /* font size */
    --fs-100:0.375rem;    /* 6px */
    --fs-200:0.5rem;    /* 8px */
    --fs-300:0.625rem;    /* 10px */
    --fs-400:0.75rem;    /* 12px */
    --fs-500:0.875rem;    /* 14px */
    --fs-600:1rem;    /* 16px */
    --fs-700:1.25rem;    /* 20px */
    --fs-750:1.375rem;    /* 22px */
    --fs-800:1.75rem;    /* 28px */
    --fs-900:1.875rem;    /* 30px */

    /* paddings, margins */
    --size-100:0.625rem;    /* 10px */
    --size-200:0.75rem;    /* 12px */
    --size-300:1.125rem;    /* 18px */
    --size-400:1.25rem;    /* 20px */
    --size-500:1.375ren;    /* 22px */
    --size-600:1.75rem;    /* 28px */
    --size-700:1.875rem;    /* 30px */
    --size-800:3rem;    /* 48px */
    --size-900: 4rem;    /* 60px */
}

/* utility classes */

.bg-primary-200{
    background-color:var(--clr-primary-200) ;
}
.bg-primary-100{
    background-color:var(--clr-primary-100) ;
}

.text-accents-200{
    color: var(--clr-accents-200);
}
.text-accents-100{
    color: var(--clr-accents-100);
}


/* font weight */

.fw-regular{
    font-weight: var(--fw-regular);
}
.fw-medium{
    font-weight: var(--fw-medium);
}
.fw-SemiBold{
    font-weight: var(--fw-SemiBold);
}
.fw-bold{
    font-weight: var(--fw-bold);
}
.fw-extra-bold{
    font-weight: var(--fw-extra-bold);
}


/* font size */

.fs-100{
    font-size: var(--fs-100);
}
.fs-200{
    font-size: var(--fs-200);
}
.fs-300{
    font-size: var(--fs-300);
}
.fs-400{
    font-size: var(--fs-400);
}
.fs-500{
    font-size: var(--fs-500);
}
.fs-600{
    font-size: var(--fs-600);
}
.fs-700{
    font-size: var(--fs-700);
}
.fs-750{
    font-size: var(--fs-750);
}
.fs-800{
    font-size: var(--fs-800);
}
.fs-900{
    font-size: var(--fs-900);
}

/* margins and paddings */

/* general styling */
body{
    font-family:'Nunito', sans-serif;
    background-color: var(--clr-primary-200);
}
.container {
    --max-width:90%;
    --container-padding: 1rem;

    width: min(var(--max-width), 100% - (var(--container-padding) * 2));
    margin-inline: auto;
}
.flex{
    display: flex;
    align-items: center;
}
.columns{
    display: grid;
    gap: 1rem;
}
@media (min-width: 30em) {
    .columns{
        grid-auto-flow: column;
        align-items: center;
    }
}
.button{
    background-color:var(--clr-accents-200) ;
    font-size: 18px;
    font-weight: var(--fw-regular);
    color: var(--clr-accents-100);
    border: none;
    border-radius: 30px;
    padding: 12px 45px;
}
.first-section-img{
    border-radius: 30px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%230066FFFF' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='53' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 30px;
}
img{
    border-radius: 30px;
}