@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

@keyframes move {   from {top: 300px;background: rgba(0, 89, 255, 0.37);}
to {top: 0px;}}
@keyframes top {   from {top: 0px;background: rgba(0, 89, 255, 0.37);}
to {top: 300px; }}


:root{
    --clr-primary-200:#061427;
    --clr-primary-100:#FFFFFF;

    --clr-accents-200:#00FFF5;
    --clr-accents-100:#FFFFFF;


    /* font-family */
    --ff-primary:'Nunito', sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    /* font-weight */

    --fw-regular:400;
    --fw-medium:500;
    --fw-SemiBold:600;
    --fw-bold:700;
    --fw-extra-bold:800;

    /* font size */
    --fs-100:0.375rem;    /* 6px */
    --fs-200:0.5rem;    /* 8px */
    --fs-300:0.625rem;    /* 10px */
    --fs-400:0.75rem;    /* 12px */
    --fs-500:0.875rem;    /* 14px */
    --fs-600:1rem;    /* 16px */
    --fs-700:1.25rem;    /* 20px */
    --fs-750:1.375rem;    /* 22px */
    --fs-800:1.75rem;    /* 28px */
    --fs-900:1.875rem;    /* 30px */

    /* paddings, margins */
    --size-100:0.625rem;    /* 10px */
    --size-200:0.75rem;    /* 12px */
    --size-300:1.125rem;    /* 18px */
    --size-400:1.25rem;    /* 20px */
    --size-500:1.375rem;    /* 22px */
    --size-600:1.75rem;    /* 28px */
    --size-700:1.875rem;    /* 30px */
    --size-800:3rem;    /* 48px */
    --size-900: 4rem;    /* 60px */
}

/* utility classes */

.bg-primary-200{
    background-color:var(--clr-primary-200) ;
}
.bg-primary-100{
    background-color:var(--clr-primary-100) ;
}

.text-accents-200{
    color: var(--clr-accents-200);
}
.text-accents-100{
    color: var(--clr-accents-100);
}


/* font weight */

.fw-regular{
    font-weight: var(--fw-regular);
}
.fw-medium{
    font-weight: var(--fw-medium);
}
.fw-SemiBold{
    font-weight: var(--fw-SemiBold);
}
.fw-bold{
    font-weight: var(--fw-bold);
}
.fw-extra-bold{
    font-weight: var(--fw-extra-bold);
}


/* font size */

.fs-100{
    font-size: var(--fs-100);
}
.fs-200{
    font-size: var(--fs-200);
}
.fs-300{
    font-size: var(--fs-300);
}
.fs-400{
    font-size: var(--fs-400);
}
.fs-500{
    font-size: var(--fs-500);
}
.fs-600{
    font-size: var(--fs-600);
}
.fs-700{
    font-size: var(--fs-700);
}
.fs-750{
    font-size: var(--fs-750);
}
.fs-800{
    font-size: var(--fs-800);
}
.fs-900{
    font-size: var(--fs-900);
}

/* margins and paddings */
.margin-bottom-500{
    margin-bottom: var(--size-500);
}
.margin-right-900{
    margin-right: var(--size-900);
}
.margin-right-300{
    margin-right: var(--size-300);
}

/* general styling */
body{
    font-family:'Nunito', sans-serif;
    background-color: var(--clr-primary-200);
}
.container {
    --max-width:95%;
    --container-padding: 0.65rem;

    width: min(var(--max-width), 100% - (var(--container-padding) * 2));
    margin-inline: auto;
}
.flex{
    display: flex;
    align-items: center;
}
.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.columns{
    display: grid;
    gap: 1rem;

}
.button{
    background-color:var(--clr-accents-200) ;
    font-size: 18px;
    font-weight: var(--fw-regular);
    color: var(--clr-accents-100);
    border: none;
    border-radius: 30px;
    padding: 12px 45px;
    transition: .1s ease-in-out;
    cursor: pointer;
}
.button:hover{
    transform: scale(1.1);
    text-shadow: 1px 2px rgb(10, 7, 9);
    filter: drop-shadow(5px 5px 20px rgb(0, 200, 255)) invert(25%);
}
.inner-header nav ol li:not(:last-child){
    margin-right: 50px;
    transition: .1s ease-in-out;
}
.inner-header{
    margin-top: 20px;
}
.inner-header nav ol li:hover{
    transform: scale(1.1);
}
.hamburger {
    position: fixed;
    z-index: 100;
    top: 3%;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
}
.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
}
.closeIcon {
    display: none;
}
.showMenu {
    transform: translateY(0);
}
.inner-fist-section-info{
    width: 610px;
}
.fist-section-button{
    margin-top: 60px;
}
.fist-section-info-socilas{
    align-self:end;
    transition: .1s ease-in-out;
}
.fist-section-info-socilas li:hover{
    filter: drop-shadow(30px 15px 2px #4444dd);
}
.second-section-button, .third-section-button, .forth-section-button{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.section-title{
    text-align: center;
    margin: 150px 0 40px 0;
}
.first-section-img{
    width: 400px;
    background: linear-gradient(to right, #0066FF 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#0066FF 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, #0066FF 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#0066FF 50%, rgba(255, 255, 255, 0) 0%);
    background-position: top, right, bottom, left;
    background-repeat: repeat-x, repeat-y;
    background-size: 25px 1px, 1px 25px;
    border-radius: 30px;
    
}
.first-section-img img{
    border-radius: 74px;
    padding: 30px 40px;
}
.light-top{
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(64, 66, 160, 0.63);
    filter: blur(75px);
    left: 19%;
    top: -33px;
    animation: move 5s linear infinite;
    animation-direction: alternate;
}
.light-bottom{
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(60, 62, 151, 0.63);
    filter: blur(75px);
    left: -2%;
    bottom: -521px;
    animation: top 5s linear infinite;
    animation-direction: alternate;
}
.light{
    position: relative;
}
.secund-section-content{
    position: relative;
}
.second-section-work .inner-secund-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 60px;
    justify-items: center;
    transition: 1s ease-in-out;
}
.work-button{
    position: absolute;
    top: 44%;
    left: 20%;
}
.secund-section-content:hover img{
    transform: scale(1.1);
    opacity: 0.5;
}
.secund-section-content:hover .button-work{
    background-color:var(--clr-accents-200) ;
    color: var(--clr-accents-100);
    transform: scale(1.1);
    text-shadow: 1px 2px rgb(10, 7, 9);
    filter: drop-shadow(5px 5px 20px rgb(0, 200, 255)) invert(25%);

}

.button-work{
    background-color:transparent ;
    font-size: 18px;
    font-weight: var(--fw-regular);
    color: transparent;
    border: none;
    border-radius: 30px;
    padding: 12px 45px;
    transition: .1s ease-in-out;
    cursor: pointer;
}
.secund-section-content{
    width: 370px;
    padding: 28px 23px;
    background: linear-gradient(to right, #0066FF 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#0066FF 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, #0066FF 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#0066FF 50%, rgba(255, 255, 255, 0) 0%);
    background-position: top, right, bottom, left;
    background-repeat: repeat-x, repeat-y;
    background-size: 25px 1px, 1px 25px;
    border-radius: 20px;
}
.secund-section-content img{
    width: 325px;
    border-radius: 20px;

}
.inner-top-section{
    padding: 30px 30px 10px 40px;
    background: linear-gradient(to right, #0066FF 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#0066FF 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, #0066FF 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#0066FF 50%, rgba(255, 255, 255, 0) 0%);
    background-position: top, right, bottom, left;
    background-repeat: repeat-x, repeat-y;
    background-size: 25px 1px, 1px 25px;
    border-radius: 30px;
    
}
.experience-info{
    width: 990px;
}
.date p{
    transform: rotate(-90deg);
}
.inner-third-section .see-more{ 
    float: right;
}
.forth-section-contact p{
    text-align: center;
}
.inner-contact{
    background: linear-gradient(to right, #0066FF 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#0066FF 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, #0066FF 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#0066FF 50%, rgba(255, 255, 255, 0) 0%);
    background-position: top, right, bottom, left;
    background-repeat: repeat-x, repeat-y;
    background-size: 25px 1px, 1px 25px;
    border-radius: 30px;
    padding: 30px 20px;
    margin-right: 600px;
    position: relative;
}
.forth-section-socilas img:hover {
    transform: scale(1.1);
    filter: drop-shadow(5px 5px 20px rgb(255, 0, 38)) invert(85%);
}

@media (min-width: 30em) {
    .columns{
        grid-auto-flow: column;
        align-items: center;
    }
    .hamburger{
        display: none;
    }
    
}
@media only screen and (max-width: 30em) {
    .menu {
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: black;
        color: white;
        list-style: none;
        padding-top: 4rem;
    }
    .resume{
        margin: 0 auto
    }
    .hamburger{
        background-color: transparent;
        border: none;
        color: #00FFF5;
    }
    .section-title h2{
        font-size: 16px;
    }
    .light{
        width: 20px;
    }
    .light-top{
        left: 266px;
    }
    .first-section-img{
        width: 165px;
        margin: 0 auto;
    }
    .first-section-img img{
        width: 150px;
        border-radius: 30px;
        padding: 10px 11px;
    }
    .greet{
        font-size: 14px;
    }
    .fist-section-info-details p{
        font-size: 12px;
    }
    .button{
        font-size: 9px;
        padding: 10px 20px;
    }
    .fist-section-info-socilas ul{
        display: flex;
        margin-top:10px ;
    }
    .fist-section-info-socilas ul li{
        margin-right: 20px;
    }
    .secund-section-content {
        width: 120px;
        padding: 11px 12px;
    }
    .secund-section-content img {
        width:97px;
    }
    .button-work{
        background-color:transparent ;
        font-size: 9px;
        font-weight: var(--fw-regular);
        color: transparent;
        border: none;
        border-radius: 30px;
        padding: 5px 6px;
        transition: .1s ease-in-out;
        cursor: pointer;
    }
    .work-button{
        top: 38%;
        left: 20%;
    }
    .date p{
        font-size: 8px;
    }
    .inner-top-section{
        padding: 10px 15px;
    }
    .experience-info{
        width: 340px;
    }
    .experience-info .subject h5{
        font-size: 12px;
    }
    .right-side ul li p{
        font-size: 8px;
    }
    .see-more{
        font-size: 6px;
    }
    .collaboration p{
        font-size: 16px;
    }
    .partnership p{
        font-size: 12px;
    }
    .inner-contact{
        margin-right: 30px;
    }
    .inner-contact span{
        font-size: 10px;
    }
    .inner-contact img{
        width: 20px;
    }
    .contact-info .right-img img{
        width: 190px;
    }
    .inner-fist-section-info{
        width: 335px;
    }
}